
#xcframeworks
opencv2.xcframework
xcframeworks/* 

#fastlane
fastlane/report.xml


#userstate
ImageScannerKit.xcodeproj/project.xcworkspace/xcuserdata/rubenmimoun.xcuserdatad/UserInterfaceState.xcuserstate